*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*head*/
body {
    background: rgb(2,0,36);
    background: linear-gradient(205deg, rgba(2,0,36,1) 3%, rgba(48,89,50,0.9831582291119573) 35%, rgba(66,126,61,1) 35%, rgba(114,154,124,1) 78%, rgba(139,146,137,1) 90%, rgba(48,89,50,0.9831582291119573) 35%, rgba(2,0,36,1) 3%);
    height: 100%;
    width: 100%;
}

header.head{ 
    width: 100%;
    height: 45vh;
    background-image: url(img/plantas-pequenas.jpg);
    opacity: 0.7;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}

div.content-name h1.name{
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    text-shadow: 5px 6px 7px #4a4a3c;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}

/*navbar*/
nav.navbar {
    background-color: #b0b5b169;
    padding: 10px;
    position: sticky;
    cursor: pointer;
    justify-content: space-around;
    text-align: center;
}

/*logo*/
div.logo {
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
}

ul.navbar.link{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    /*order: 0;*/
}

.nav-item {  
    margin: 0 15px; 
    font-weight: 300; 
    
}

a.nav-link{
    font-size:20px;
    margin: auto;
    border-radius: 20px; 
    box-sizing: content-box;
    position: sticky;
    flex-wrap: wrap;
}

a.nav-link:hover{
    background-color: #adbc9f;
    padding: 5px;
    border-radius: 20px;
    color: #393636;
    
}

input.form-control:hover {  
    border-radius: 20px; 
    background-color:#393636bc; 
    color: white;
} 

button.btn {
    font-weight: 200;
    background-color:rgba(0, 0, 0, 0.511);;
}

/*Principal*/
section.section {
    padding: 3rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

div.tex-present>p{
    font-weight: 500;
    font-size: 20px;
    padding: 7px 20px;
    color: #050505;
    text-align:justify;
    text-shadow: 0 1px 1px #e0e5d63b;
}

div.carousel-inner {
    align-items: center;
    opacity: 3;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-width: 800px;
}

/*quienes_somos*/

article.cards {
    display: flex;  
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 30px 50px;
}

.Presentacion {
    max-width: 40%;
    padding: 30px;
    margin: 5px;
    background-color: #e0e5d63b;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #12372a;
    text-align: center;
    transition: transform 0.2s; 
}

.Presentacion:hover {  
    transform: scale(1.02);  
}

.card-title{
    padding: 8px;
    font-weight: 700;
    text-transform: uppercase;
}
.card-text{
    padding: 4px;
    text-align: justify;
    font-size: larger;
}
.card-img-top {
    width: 50%;
    height: 50%;
    padding: 6px;
    background-color: #3936369d;
    border-radius: 50%;
}

/*Acerca de*/

article.container {
    display: flex;  
    flex-direction: row;  
    flex: 1;  
    min-width: 300px;   
    margin: 10px; 
}

.location-info, .contact-info, .wholesale-info {  
    justify-content: space-between;
    height: 350px;   
    padding: 25px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}  

.tex-acercade{
    font-weight: 300;
    font-size: 1.5rem;
    padding: 4px;
    margin: 10px 0 20px 0 ;
}

/*Registro*//*Login*/

h4 {
    text-align: center;
    font-weight: 500;
    text-shadow:2px 3px 4px  #ffff;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-registro {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 15px;
    background-image: url(img/fondo-login3.jpg);
    background-color: #4947477b;
    border-left: 6px solid #0e0d0d93;
    align-content: center;
    box-shadow: 2px 3px 4px #393636bb;
}

.form-login {
    max-width: 600px;
    padding: 30px;
    /*margin: 40px 0 60px 0;*/
    border-radius: 20px;
    background-image: url(img/fondo-login3.jpg);
    background-repeat: no-repeat;
    /*background-color: #4947477b;*/
    border-left: 6px solid #0e0d0d93;
    align-content: center;
    max-height: 100vh;
    box-shadow: 2px 3px 4px #393636bb;
}

.login-title{
    font-size: 30px;
    font-weight: 600;
    transition: transform 0.5s;
}

h4.login-title img:hover {
    transform: scale(1.06);
}

label.form-label {
    padding: 8px 0 0 0;
    margin-bottom: 5px;
    font-size:1rem;
    background: transparent;
    border-bottom: 3px solid #4d4a4a;
    color: #080a0bda; 
    
}

input.form-control {
    background-color:rgba(0, 0, 0, 0.26);
    color: white;
    border:1px solid #393636c2;
    margin: 7px 10px; 
    padding: 10px;
    height: min-content;
    /*max-width: 70%;*/
}

div.buttons {
    display: flex;
    padding: 8px 0 8px 0;
    margin: 10px 0 10px 0;
    font-size: medium;
    
}


/*footer*/

footer{
    background-color: #b0b5b169;
    color: white;
    display: flex;
    padding: 5px;
    align-self: baseline;
    justify-content: center;

}

footer>div.red-icon {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 8px;
}

.red-icon a >img{
    transition:transform 0.3s ease;
}
.red-icon a >img:hover {
    transform: scale(1.1);
}

div.autor>p.pie-pag {
    padding: 5px;
    font-weight: 100;
    font-size: 16px;
    color: #191918;
    text-align: center;
    text-decoration: none;
    color: white;
}
p.links-footer{
    color: white;
    text-decoration: none;
    /*justify-content:center;*/
}
p.links-footer :hover{
    text-decoration: underline;
}


/*responsive*/

/**/

@media (max-width: 768px) {  

    header.head {  
        height: 30vh;  
    }  

    div.content-name h1.name {  
        font-size: 40px;  
    }  

    .nav-item {  
        margin: 0 10px;   
    }  

    section.section {  
        padding: 2rem;   
    }  

    div.tex-present > p {  
        font-size: 18px; 
    } 

     
}  

@media (min-width: 480px) {  

    .Presentacion {  
        max-width: 60%;  
        padding: 15px;  
    }  
    .card-img-top {  
        width: 40%;   
    }  
    
    article.cards {  
        justify-content: center;  
    }

    .card-title {  
        font-size: 1.25em;  
    }  
    .card-text {  
        font-size: 1em;   
    } 
    
    footer {  
        display: flex;  
        /*flex-direction: column; */
        align-items: center; 
    }  
    
    .red-icon {  
        flex-direction: row;  
        justify-content: center;  
    }  
    
    .autor {  
        text-align: center;   
    }
}  

@media (max-width: 576px) {  
    h4 {  
        font-size: 1.5rem; 
    }

    .form-registro, .form-login {  
        padding: 15px;   
    }  

    input.form-control {  
        font-size: 0.9rem;  
    }  
}  